<html>

<h1>Welcome to Tic-Tac-Toe!</h1>
	<form action='/board_size' method='post'>
		
		<tr>
			<td>
			<p>Input your chosen board size</p>
			</td>

			<td>
			<input type='text' name='board_side' value=''>
			</td>
		</tr>

		    <input type="submit" value="Submit">

	</form>

</html>